In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from lightgbm import LGBMModel
from os import path
from sklearn.metrics import mean_squared_error

%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [6]:
data_dir = '../datasets'

if not path.exists(data_dir):
    raise Exception('{} directory not found.'.format(data_dir))

lgbm_val_file = '{}/{}'.format(data_dir, 'lgbm_pred_val.zip')
print('\nLGBM Val Prediction file: {}'.format(lgbm_val_file))

lgbm_test_file = '{}/{}'.format(data_dir, 'lgbm_pred_test.zip')
print('\nLGBM Val Prediction file: {}'.format(lgbm_test_file))

lstm_val_file = '{}/{}'.format(data_dir, 'lstm_pred_val.zip')
print('\nLSTM Val Prediction file: {}'.format(lstm_val_file))

lstm_test_file = '{}/{}'.format(data_dir, 'lstm_pred_test.zip')
print('\nLSTM Test Prediction file: {}'.format(lstm_test_file))

LGBM Val Prediction file: ../datasets/lgbm_pred_val.zip

LGBM Val Prediction file: ../datasets/lgbm_pred_test.zip

LSTM Val Prediction file: ../datasets/lstm_pred_val.zip

LSTM Test Prediction file: ../datasets/lstm_pred_test.zip

In [4]:
def load_data(zip_path):
    df = pd.read_csv(
        zip_path,
        dtype={'fullVisitorId': 'str'},
        compression='zip'
    )
    
    [rows, columns] = df.shape

    print('Loaded {} rows with {} columns from {}.'.format(
        rows, columns, zip_path
    ))
    
    return df

In [7]:
%%time

lstm_val_df = load_data(lstm_val_file)
lstm_test_df = load_data(lstm_test_file)

lgbm_val_df = load_data(lgbm_val_file)
lgbm_test_df = load_data(lgbm_test_file)

print()

Loaded 109687 rows with 3 columns from ../datasets/lstm_pred_val.zip.
Loaded 616642 rows with 2 columns from ../datasets/lstm_pred_test.zip.
Loaded 110252 rows with 3 columns from ../datasets/lgbm_pred_val.zip.
Loaded 617242 rows with 2 columns from ../datasets/lgbm_pred_test.zip.

CPU times: user 1.07 s, sys: 117 ms, total: 1.19 s
Wall time: 1.25 s

In [8]:
lstm_val_df.head()

         fullVisitorId  transactionRevenue  predictedRevenue
0  0000062267706107999        0.0000000000      0.0000000000
1  0000085059828173212        0.0000000000      0.0000000000
2   000026722803385797        0.0000000000      0.0000000000
3  0000436683523507380        0.0000000000      1.7182818285
4  0000450371054833295        0.0000000000      0.0000000000

In [9]:
lstm_test_df.head()

         fullVisitorId  predictedRevenue
0  0000000259678714014      1.7182818285
1  0000049363351866189      0.0000000000
2  0000053049821714864      0.0000000000
3  0000059488412965267      0.0000000000
4  0000085840370633780      0.0000000000

In [10]:
lgbm_val_df.head()

         fullVisitorId  transactionRevenue  predictedRevenue
0  0000062267706107999        0.0000000000      0.0000000000
1  0000085059828173212        0.0000000000      0.0000000000
2   000026722803385797        0.0000000000      0.0000000000
3  0000436683523507380        0.0000000000      1.0636517332
4  0000450371054833295        0.0000000000      0.0000000000

In [11]:
lgbm_test_df.head()

         fullVisitorId  predictedRevenue
0  0000000259678714014      2.4062848919
1  0000049363351866189      0.0000000000
2  0000053049821714864      0.0000000000
3  0000059488412965267      0.0000000000
4  0000085840370633780      0.0417426113

In [15]:
merged_test = pd.merge(lgbm_test_df, lstm_test_df, on='fullVisitorId')

In [16]:
merged_test

              fullVisitorId  predictedRevenue_x  predictedRevenue_y
0       0000000259678714014        2.4062848919        1.7182818285
1       0000049363351866189        0.0000000000        0.0000000000
2       0000053049821714864        0.0000000000        0.0000000000
3       0000059488412965267        0.0000000000        0.0000000000
4       0000085840370633780        0.0417426113        0.0000000000
5       0000091131414287111        0.0000000000        0.0000000000
6       0000117255350596610      534.8072686676        1.7182818285
7       0000118334805178127        0.0000000000        0.0000000000
8       0000130646294093000        0.0000000000        0.0000000000
9       0000150005271820273        0.0000000000        0.0000000000
10      0000166374699289385        0.0907416017        0.0000000000
11      0000174453501096099        0.0000000000        0.0000000000
12       000018122977590134     2991.6791010961        1.7182818285
13       000020731284570628        0.0000000000        0.0000000000
14      0000232022622082281        0.0000000000        0.0000000000
15      0000271086753662651        0.0000000000        0.0000000000
16      0000282648818935742        0.0000000000        0.0000000000
17        00003038793126460        0.0000000000        0.0000000000
18      0000313524203455157        0.0000000000        0.0000000000
19      0000324924635296742        0.0000000000        0.0000000000
20      0000338548677636278        0.0000000000        0.0000000000
21      0000354865008116989        0.0000000000        0.0000000000
22      0000359974620542953        0.1791444985        0.0000000000
23      0000384434116640351      157.8702360707        1.7182818285
24      0000385653946068037        0.0000000000        0.0000000000
25      0000397214032106948        0.0000000000        0.0000000000
26      0000414003317636552       18.1938006788        1.7182818285
27      0000421850492821864        0.0000000000        0.0000000000
28      0000436683523507380        0.6276910236        0.0000000000
29      0000443488189725694        0.0000000000        0.0000000000
...                     ...                 ...                 ...
616612  9999496940471624606        0.2709337855        0.0000000000
616613  9999518756481096457        0.5196672453        0.0000000000
616614   999953571560215806        0.0168635402        0.0000000000
616615  9999562285379264463        0.0000000000        0.0000000000
616616  9999614340989943927        0.0000000000        0.0000000000
616617  9999627287761032935        0.0309727838        0.0000000000
616618  9999629963061245228        0.0000000000        0.0000000000
616619  9999664171331798815        0.0000000000        0.0000000000
616620  9999686314743907991        0.0000000000        0.0000000000
616621  9999686339684184799        0.0000000000        0.0000000000
616622  9999687906312811598        0.0860817558        1.7182818285
616623  9999715835738672145        0.0000000000        0.0000000000
616624  9999733949531374274        0.0000000000        0.0000000000
616625  9999775084144044428        0.0000000000        0.0000000000
616626   999977536649351076        0.2776720617        0.0000000000
616627  9999786007255502100        0.0100911296        0.0000000000
616628  9999789814107288877        0.0000000000        0.0000000000
616629  9999803509476553670        0.0000000000        0.0000000000
616630  9999818112872622034        0.0000000000        1.7182818285
616631  9999819762744314978        0.0000000000        0.0000000000
616632  9999824326944242344       31.2991563459        1.7182818285
616633  9999834067265202923        0.0000000000        0.0000000000
616634  9999841005270636052        0.0000000000        0.0000000000
616635  9999860794386137754        0.0120356280        0.0000000000
616636  9999882818693474736     5156.2147426357        1.7182818285
616637  9999905960465191827        0.0764835630        0.0000000000
616638  9999941518946450908        0.0000000000        0.0000000000
616639  9999969142283897422        0.0372800768        0.0000000000
616640  9999985820452794361        0.1381586973        1.7182818285
616641  9999997304197521748        0.0000000000        0.0000000000

[616642 rows x 3 columns]